<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CLUB-6-adv-java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServelet</display-name>
    <servlet-name>DemoServelet</servlet-name>
    <servlet-class>com.controller.DemoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServelet</servlet-name>
    <url-pattern>/DemoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductController</display-name>
    <servlet-name>ListProductController</servlet-name>
    <servlet-class>com.controller.ListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductController</servlet-name>
    <url-pattern>/ListProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>com.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.controller.student.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentController</display-name>
    <servlet-name>ListStudentController</servlet-name>
    <servlet-class>com.controller.student.ListStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentController</servlet-name>
    <url-pattern>/ListStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentController</display-name>
    <servlet-name>DeleteStudentController</servlet-name>
    <servlet-class>com.controller.student.DeleteStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentController</servlet-name>
    <url-pattern>/DeleteStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailStudentController</display-name>
    <servlet-name>DetailStudentController</servlet-name>
    <servlet-class>com.controller.student.DetailStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailStudentController</servlet-name>
    <url-pattern>/DetailStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentController</display-name>
    <servlet-name>EditStudentController</servlet-name>
    <servlet-class>com.controller.student.EditStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentController</servlet-name>
    <url-pattern>/EditStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentController</display-name>
    <servlet-name>UpdateStudentController</servlet-name>
    <servlet-class>com.controller.student.UpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentController</servlet-name>
    <url-pattern>/UpdateStudentController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.filters.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/ListStudentController</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>StudentValidationFilter</display-name>
    <filter-name>StudentValidationFilter</filter-name>
    <filter-class>com.filters.StudentValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentValidationFilter</filter-name>
    <url-pattern>/AddStudentController</url-pattern>
  </filter-mapping>
</web-app>